.left_signup{
    background-color:  #ffffff;
    /* font-family: lato; */
    font-family: Lato, Helvetica, sans-serif;
    max-width: 45.06%;
    /* max-height: 100%; */
    
}

.right_signup{
    background-color: #5622A7;
    max-width: 54.93%;
    /* max-height: 100%; */
}
/* .basic_property{
    height: 1024px;
    width: 649px;
} */
.icon_design{
    height:28.62px;
    width: 28.14px;
    margin-top: 65.14px;
    margin-left: 19.72265023%;
    float: left;
    /* background-color: red; */
}


/* margin left 128 px */
.ml128{
    margin-left: 19.72265023%;
}

/* app name design */
.app_name{
    /* background-color: rebeccapurple; */
    margin-left: 27.8%;
    margin-top: 65.14px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 25px;
    line-height: 29.35px;
    color:  #5622A7;
    /* position: absolute; */
    /* background-color: aqua; */

}

/* sign up design here */
.sign_up{
    font-family: Lato, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-top: 97.86px;
    margin-left: 19.72265023%;    
}

/* mutet text design  */
.text-muted{
    width: 52.850539%;
    height: auto;
    color:#969696;
}


/* Sign up form design  */
.sign_up_form{
    font: lato;
}

.input_form{
    width: 75%;
    /* width: 343px; */
    height: 44px;
    border-radius: 10px;
    border: 1px solid #5622A7;
    margin-bottom: 36px;
    margin-top: 18px;
    padding: 20px 11px;
    margin-right: 24.49922%;

}
/* horizon bar design */
.horizon_bar{
    margin-bottom: 38px;
}

/* check box design */
.ckbox{
    float: left;
}

/* term and condition check text decoration */
.term_condition_text{
    width: 50.3852080%;
    height:auto;
    font: lato;
    /* margin-left: 156px; */
    margin-left: 24.03697997%;
    size: 12px;
    line-height: 14.4px;
    color: #876DB5;
    margin-bottom: 29px;
    /* background-color: red; */

    
}

/* creeate account  button design  */
.btn-design{
    /* width:393px; */
    width: 60.554699%;
    height: auto;
    text-align: center;
    background-color: #876DB5;
    color:white ;
    font: lato;
    padding: 10px;
    border-radius: 10px;
    border: none;

}

.sign_in_information{
    height:auto;
    /* width: 327px; */
    width : 50.3852080%;
    /* margin-left:161px ; */
    margin-left: 24.80739599%;
    color:#969696;
    size:12px;
    line-height:14.4px;
    font-family: lato;
    margin-top: 21px;
    text-align: center;
}

.left_signup a{
    color: #876DB5;
}
/* 
/////////////////////////////////////////////
left signup design is end here
///////////////////////////////////////////// */

.grid1{
    margin-top:95px ;
    /* margin-left:492px ; */
    margin-left:62.19974716%;
    /* margin-right: 154px; */
    /* height: 206px; */
    height: auto;
    /* width:189px ; */
    width: 23.8938053%;
    /* display: block;
    float :right; */
}
.grid2{
    margin-top: 118px;
    /* width: 189px; */
    width: 23.8938053%;
    /* height: 206px; */
    height: auto;
    /* margin-left: 160px; */
    margin-left: 20.22756005%;
}

.right_text{
    margin-top: 69px;
    margin-bottom: 20px;
    /* text-align: center; */
    color:#FFFFFF;
    justify-content: center;
    /* background-color: black; */
    text-align: center;
}
.right_text h5{
    font-family: lato;
    font-size: 20px;
    line-height: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    /* margin-left: 316px; */
    height: auto;
}
.right_text p{
    font-family: roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 21.09px;
    /* width: 308px; */
    height: auto;
    /* margin-left: 242px; */
    /* margin-right: 241px; */
    /* text-align: center; */
}

.underline_dots{
    width: 70px;
    height: 7px;
    /* margin-left: 361px; */
    margin-left: 45.63843236%;
    margin-right: 45.51201011%;
}

/* 
/////////////////////////////////////
Log in     log in       log in  :start
////////////////////////////////////// */

.login{
    display: block;
    max-width: 45%;
    max-height: 1024px;
    /* background-color:aliceblue ; */
    font-family: Lato, Helvetica, sans-serif;
    /* text-align: center; */
}
.appname p{
    /* background-color: aqua; */
    margin-left: 20px;
    margin-top: 65.14px;
    display: inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 25px;
    line-height: 29.35px;
    color:  #5622A7;
}

.login_text{
    margin-top: 129.86px;
}
.fotter_part{
   display: inline;
   text-align: center;
   justify-content: center;
}
.fotter_part a{
    text-decoration: none;
    color: #5622A7;
}
.forget_password{
    max-width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    /* background-color: chartreuse; */

}
.forget_pass{
    text-decoration: none;
    color: #5622A7;
    
}

.login_btn{
    /* width:393px; */
    width: 60.554699%;
    height: auto;
    text-align: center;
    background-color: #876DB5;
    color:white ;
    font: lato;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;

}

